{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}ProKit sportskit ecommerce platform{% endblock %}</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/owl-carousel/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/magnific-popup/magnific-popup.css' %}">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/skins/skin-demo-21.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/demos/demo-21.css' %}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.6.1/nouislider.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.6.1/nouislider.min.js"></script>

</head>

<style>
    .banner-container .col-pd1 {
        height: 250px; /* Adjust height as needed */
        overflow: hidden;
    }
    
    .banner-container .col-pd1 img {
        width: 100%;
        height: 100%;
        object-fit: cover; /* Fills the container, cropping if necessary */
        object-position: center; /* Centers the zoomed image */
    }
    .product-main-image {
        position: relative;
        overflow:hidden;
    }
    
    .product-gallery-item {
        margin: 10px;
       
    }
    
    .product-gallery-item img {
        width: 60px;
        height: 60px;
        object-fit: cover;
        cursor: pointer;
    }
    
    .product-gallery-item.active img {
        border: 2px solid #000; /* Highlight active thumbnail */
    }
    
    .img-zoom-container {
        position: relative;
        overflow: hidden;
        width: 100%;
        height: auto;
    }
    
    .zoom-img {
        width: 100%;
        transition: transform 0.3s ease-in-out;
    }
    
    .img-zoom-container:hover .zoom-img {
        cursor: zoom-in;
    }
    
    .zoom-img.zoomed {
        transform-origin: center center;
        cursor: zoom-out;
    }
    
    .product-gallery-vertical .product-gallery-item {
        flex: 0;
    }
    .product-gallery-vertical .product-image-gallery {
        max-width: 20%;
        max-block-size: fit-content;
    }
    .ratings-container{
        justify-content: flex-start;
    }
    .product-price{
        display: block;
    }
</style>
<body>
    <header class="header">
        <div class="header-top">
            <div class="container">
                <div class="header-left">
                    <div class="header-dropdown">
                        <a href="#">Usd</a>
                        <div class="header-menu">
                            <ul>
                                <li><a href="#">Eur</a></li>
                                <li><a href="#">Usd</a></li>
                            </ul>
                        </div><!-- End .header-menu -->
                    </div><!-- End .header-dropdown -->

                    <div class="header-dropdown">
                        <a href="#">Eng</a>
                        <div class="header-menu">
                            <ul>
                                <li><a href="#">English</a></li>
                                <li><a href="#">French</a></li>
                                <li><a href="#">Spanish</a></li>
                            </ul>
                        </div><!-- End .header-menu -->
                    </div><!-- End .header-dropdown -->
                </div><!-- End .header-left -->

                <div class="header-right">
                    <ul class="top-menu">
                        <li>
                            <a href="#">Links</a>
                            <ul>
                                <li><a href="#"><i class="icon-phone"></i>Call: +0123 456 789</a></li>
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Contact Us</a></li>
                                <li><a href="{% url 'user_logout'  %}" ><i class="icon-user"></i>Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="header-middle sticky-header" >
            <div class="container" style="height:100px;">
                <div class="header-left">
    

                    <a href="#" class="logo">
                        <!-- <img src="{% static 'assets/images/demos/demo-21/logo.png' %}" alt="Prokit Logo" width="100" height="25"> -->
                        <h2 class="rounded  mt-1 p-2 px-5 " style="color: #d5e1ff; background-color: #0a2057;">ProKit</h2>
                    </a>

                    <nav class="main-nav">
                        <ul class="menu sf-arrows">

                            <li class="megamenu-container active">
                                <a href="#" class="sf-with-ul">Home</a>
                            </li>
                            <li>
                                <a href="{% url 'user_shop' %}" class="sf-with-ul">Shop</a>
                            </li>
                            <li>
                                <a href="{% url 'user_product_view' 32 %}" class="sf-with-ul">Product</a>
                            </li>
                        </ul>
                    </nav>
                    
                </div>
                <div class="header-right">
                    
                    <!-- Header right content here -->
                </div>
            </div>
        </div>
    </header>

    <!-- Main content block -->
    <main>
        {% block content %}
           <!-- page content -->
        {% endblock %}
    </main>

    <footer class="footer footer-2">
        <div class="container">
            <hr class="mb-7">
            <div class="row">
                <div class="col-2xl-5col col-md-12">
                    <div class="widget widget-about">
                        <h5 style="color: #d5e1ff; background-color: #0a2057; border-radius: 2px; padding-inline: 10px; max-width: fit-content;">ProKit</h5>
                        <p>Praesent dapibus, neque id cursus ucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus.</p>
                        <div class="widget-about-info">
                            <div class="row">

                                <div class="col-sm-6 col-md-4 phoneNum">
                                    <span class="widget-about-title">Got Question? Call us 24/7</span>
                                    <a href="tel:123456789">+0123 456 789</a>
                                </div>

                                <div class="col-sm-6 col-md-8 payment">
                                    <span class="widget-about-title">Payment Method</span>
                                    <figure class="footer-payments">
                                        <img src="{% static 'assets/images/payments.png' %}" alt="Payment methods" width="272" height="20">
                                    </figure>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-xl-5col col-sm-4 col-md-4">
                    <div class="widget">
                        <h4 class="widget-title">Information</h4><!-- End .widget-title -->

                        <ul class="widget-list">
                            <li><a href="about.html">About ProKit</a></li>
                            <li><a href="#">How to shop on ProKit</a></li>
                            <li><a href="#">FAQ</a></li>
                            <li><a href="contact.html">Contact us</a></li>
                            <li><a href="login.html">Log in</a></li>
                        </ul><!-- End .widget-list -->
                    </div><!-- End .widget -->
                </div><!-- End .col-sm-4 col-lg-3 -->

                <div class="col-xl-5col col-sm-4 col-md-6=4">
                    <div class="widget">
                        <h4 class="widget-title">Customer Service</h4><!-- End .widget-title -->

                        <ul class="widget-list">
                            <li><a href="#">Payment Methods</a></li>
                            <li><a href="#">Money-back guarantee!</a></li>
                            <li><a href="#">Returns</a></li>
                            <li><a href="#">Shipping</a></li>
                            <li><a href="#">Terms and conditions</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                        </ul><!-- End .widget-list -->
                    </div><!-- End .widget -->
                </div><!-- End .col-sm-4 col-lg-3 -->

                <div class="col-xl-5col col-sm-4 col-md-4">
                    <div class="widget">
                        <h4 class="widget-title">My Account</h4><!-- End .widget-title -->

                        <ul class="widget-list">
                            <li><a href="#">Sign In</a></li>
                            <li><a href="#">View Cart</a></li>
                            <li><a href="#">My Wishlist</a></li>
                            <li><a href="#">Track My Order</a></li>
                            <li><a href="#">Help</a></li>
                        </ul><!-- End .widget-list -->
                    </div><!-- End .widget -->
                </div><!-- End .col-sm-64 col-lg-3 -->
            </div><!-- End .row -->
        </div><!-- End .container -->

        <div class="footer-bottom">
            <div class="container">
                <p class="footer-copyright">Copyright © 2024 ProKit Store. All Rights Reserved.</p>
                <ul class="footer-menu">
                    <li><a href="#">Terms Of Use</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                </ul>
                <div class="social-icons social-icons-color">
                    <span class="social-label">Social Media</span>
                    <a href="#" class="social-icon social-facebook" title="Facebook" target="_blank"><i class="icon-facebook-f"></i></a>
                    <a href="#" class="social-icon social-twitter" title="Twitter" target="_blank"><i class="icon-twitter"></i></a>
                    <a href="#" class="social-icon social-instagram" title="Instagram" target="_blank"><i class="icon-instagram"></i></a>
                    <a href="#" class="social-icon social-youtube" title="Youtube" target="_blank"><i class="icon-youtube"></i></a>
                    <a href="#" class="social-icon social-pinterest" title="Pinterest" target="_blank"><i class="icon-pinterest"></i></a>
                </div>
            </div>
        </div>
    </footer>

    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

    <!-- Plugins JS File -->
    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.hoverIntent.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'assets/js/superfish.min.js' %}"></script>
    <script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.magnific-popup.min.js' %}"></script>
    <!-- Main JS File -->
    <script src="{% static 'assets/js/main.js' %}"></script>
</body>
</html>
