{% extends 'base.html' %}
{% load static %}

{% block title %}Wishlist - ProKit{% endblock %}

{% block content %}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">

<nav aria-label="breadcrumb" class="breadcrumb-nav pt-5 bg-light pb-1">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'user_shop' %}">Shope</a></li>
            <li class="breadcrumb-item active" aria-current="page">Wishlist</li>
        </ol>
    </div>
</nav>

<main>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success alert-dismissible fade show text-center mb-3">
                {{ message }}
                <button type="button" class="btn" data-bs-dismiss="alert">
                    <i class="bi bi-x-lg"></i>
                </button>
            </div>
        {% endfor %}
    {% endif %}

    <div class="container">

        <div class="row mb-4">
            <div class="col-lg-12">
                <div class=" p-3 d-flex flex-row gap-2 align-items-center">
                    <i class="bi bi-heart text-dark  fs-4"></i>
                    <span class="fw-semibold">Wishlist Items</span>
                </div>
            </div>
        </div>

        {% if wishlist_items %}

        {% for item in wishlist_items %}
        <div class="card mb-3 shadow-sm border-0 rounded-3">
            <div class="card-body">
                <div class="row align-items-center gy-3">

                    <div class="col-12 col-sm-4 col-md-3 text-center">
                        <img src="{{ item.variant_size.variant.images.first.image.url }}"
                             class="img-fluid rounded"
                             style="max-width:130px; object-fit:cover;">
                    </div>

                    <div class="col-12 col-sm-8 col-md-5">
                        <h5 class="fw-semibold mb-1">{{ item.variant_size.variant.product.name }}</h5>
                        <span class="badge bg-light text-primary border">
                            Size: {{ item.variant_size.size }}
                        </span>
                    </div>

                    <div class="col-6 col-md-2 text-start text-md-center">
                        <span class="fw-bold text-primary">
                            ₹{{ item.variant_size.variant.product.price }}
                        </span>
                    </div>

                    <div class="col-6 col-md-2">
                        <div class="d-flex justify-content-end gap-2">

                            <form method="POST" action="{% url 'add_to_cart' item.variant_size.slug %}">
                                {% csrf_token %}
                                <button class="btn btn-outline-primary rounded-pill p-2">
                                    <i class="bi bi-cart3 fs-5"></i>
                                </button>
                            </form>

                            <form method="POST" action="{% url 'remove_from_wishlist' item.variant_size.slug %}">
                                {% csrf_token %}
                                <button class="btn btn-outline-danger rounded-pill p-2 bg-white">
                                    <i class="bi bi-trash fs-5"></i>
                                </button>
                            </form>

                        </div>
                    </div>

                </div>
            </div>
        </div>
        {% endfor %}

        {% else %}

        <div class="row justify-content-center">
            <div class="col-lg-6">

                <div class="card shadow-sm border-0 text-center p-5">
                    <i class="bi bi-heartbreak-fill fs-1 text-muted mb-3"></i>
                    <h5 class="text-muted mb-3">Your wishlist is empty</h5>

                    <a href="{% url 'user_shop' %}" class="btn btn-dark rounded-pill px-4">
                        Continue Shopping <i class="bi bi-arrow-right"></i>
                    </a>
                </div>

            </div>
        </div>

        {% endif %}

    </div>
</main>

{% endblock %}
